In [1]:
from bs4 import BeautifulSoup as bs
import requests as rq

import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('books.csv')
df.head(3)

C:\Users\damon\AppData\Local\Temp\ipykernel_7180\2975946553.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('books.csv')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...

In [3]:
base_url = 'https://en.wikipedia.org/wiki/'

In [4]:
# def find_book_name(table):
#     if table.find('caption'):
#         name = table.find('caption')
#     print("hi")
#     return name.text

# def get_author(table):
#     author_name = table.find(text='Author').next.text
#     return author_name

# def get_publishing_date(table):
#     if table.find(text='Publication date'):
#         date = table.find(text='Publication date').next.text
#     else:
#         date = table.find(text='Published').next.text
#     pattern = re.compile(r'\d{4}')
#     year = re.findall(pattern, date)[0]
#     return int(year)



def get_country(table):
    
    if table.find(text='Country'):
        return table.find(text='Country').next.text
    elif table.find(text='Nationality'):
        return table.find(text='Nationality').next.text
    return None


def get_genre(table):
    
    if table.find(text='Genre'):
        return table.find(text='Genre').next.text
    elif table.find(text='Subject'):
        return table.find(text='Subject').next.text     
    return None


def get_pages_count(table):
    
    if table.find(text='Pages'):
        return table.find(text='Pages').next.text
    return None

In [5]:
def get_book_info(book_url):
    
    try :
        page = rq.get(book_url).text
        soup = bs(page)
        table = soup.find('table', {'class' : 'infobox vcard'})
    except :
        print("Sorry")
        return None
    
    if table is None :
        return None
    
    
    
    synopsis = soup.find('p').text
    genre = get_genre(table)
    page_count = get_pages_count(table)
    country = get_country(table)
    
    return (genre, page_count, country, synopsis)

In [6]:
def get_book_url(url) :
    
    try :
        response = rq.get(url)
        page = response.text
        
        soup = bs(page)
    except :
        print("Sorry")
        return None
    
    for link in soup.find_all('a'):
        
        l = link.get('href')
        
        if "/url?q=" in l :
            l = l.replace("/url?q=", "")
        if "goodreads" in l :
            if "google" not in l :
                return l

In [12]:
start = 66000
end = 67000


books_titles = df['Book-Title'][:end + 1]
isbns = df['ISBN'][:end + 1]


books_urls = []
genres = []
page_counts = []

countries = []
synopsis = []

In [13]:
for i in range(start, end) :
# for i in range(0, 101):
    
    book = df['Book-Title'][i].replace(' ', '_')
    book_url = base_url + book
    
    temp = get_book_info(book_url)
    books_urls.append(book_url)
    
    if i % 50 == 0 :
        print(i)
    
    if temp is not None:
        genres.append(temp[0])
        page_counts.append(temp[1])
        countries.append(temp[2])
        synopsis.append(temp[3])
    else :
        genres.append(None)
        page_counts.append(None)
        countries.append(None)
        synopsis.append(None)

66000
66050
66100
66150
66200
66250
66300
66350
66400
66450
66500
66550
66600
66650
66700
66750
66800
66850
66900
66950

In [14]:
dic = {'Book-Title' : books_titles, 
       'ISBN' : isbns, 
       'Books-URLS' : books_urls, 
       'Genre' : genres, 
       'Page Count' : page_counts, 
       'Country' : countries, 
       'Synopsis' : synopsis}

Index = list(range(start + 1, end + 1))

In [15]:
extracted_df = pd.DataFrame(data=dic, index=Index)

extracted_df.to_csv('extracted_66000_66999.csv')

In [11]:
df[df['Book-Title'] == "Clara Callan"]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...